.login {
  @include background();

  &__form {
    display: inline-flex;
    align-items: center;
  }

  &__input {
    margin: 0 0.5rem;
    padding: 0.2rem;
    width: 10rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    vertical-align: middle;
    font-size: 0.9rem;
    transition: all 0.3s ease;

    &:focus {
      border-color: $colorPrimary;
    }
  }

  &__btn {
    @include btn();
  }

  &__error {
    display: inline-block;
    padding: 0 1rem;
    color: $colorTertiary;
  }
}
